<!-- Пошук -->
<div class="search-bar">
  <input
    type="text"
    placeholder="Що ви хочете відтворити?"
    [(ngModel)]="query"
    (keyup.enter)="onSearch()"
  />
  <button class="search-btn" (click)="onSearch()">
    <img src="assets/lupa.png" alt="лупа" />
  </button>
</div>

<div
  class="main-section"
  [style.padding-bottom.px]="currentTrack ? 120 : 0"
>

<!-- 🔥 Популярне -->
<div class="genre-section" *ngIf="popularTracks.length > 0">
  <h2>🎧 Популярне</h2>
  <div class="results-grid">
    <div class="track-card" *ngFor="let track of popularTracks">
      <img [src]="track.artworkUrl100" alt="Обкладинка" class="cover" />
      <h3>{{ track.trackName }}</h3>
      <p>{{ track.artistName }}</p>
      <button class="play-btn" (click)="playTrack(track)">
        <img
          [src]="
            currentTrack === track && isPlaying
              ? 'assets/pause.png'
              : 'assets/play.png'
          "
          alt="Play/Pause"
        />
      </button>
    </div>
  </div>
</div>

<!-- 🔥 Рок -->
<div class="genre-section" *ngIf="rockTracks.length > 0">
  <h2>🎸 Рок</h2>
  <div class="results-grid">
    <div class="track-card" *ngFor="let track of rockTracks">
      <img [src]="track.artworkUrl100" alt="Обкладинка" class="cover" />
      <h3>{{ track.trackName }}</h3>
      <p>{{ track.artistName }}</p>
      <button class="play-btn" (click)="playTrack(track)">
        <img
          [src]="
            currentTrack === track && isPlaying
              ? 'assets/pause.png'
              : 'assets/play.png'
          "
          alt="Play/Pause"
        />
      </button>
    </div>
  </div>
</div>

<!-- 🔥 Поп -->
<div class="genre-section" *ngIf="popTracks.length > 0">
  <h2>💃 Поп</h2>
  <div class="results-grid">
    <div class="track-card" *ngFor="let track of popTracks">
      <img [src]="track.artworkUrl100" alt="Обкладинка" class="cover" />
      <h3>{{ track.trackName }}</h3>
      <p>{{ track.artistName }}</p>
      <button class="play-btn" (click)="playTrack(track)">
        <img
          [src]="
            currentTrack === track && isPlaying
              ? 'assets/pause.png'
              : 'assets/play.png'
          "
          alt="Play/Pause"
        />
      </button>
    </div>
  </div>
</div>
</div>
<!-- Плеєр -->
<div class="player-bar" *ngIf="currentTrack">
  <div class="player-info">
    <img [src]="currentTrack.artworkUrl100" alt="Обкладинка" />
    <div>
      <h4>{{ currentTrack.trackName }}</h4>
      <p>{{ currentTrack.artistName }}</p>
    </div>
  </div>

  <audio
    id="audio-player"
    controls
    (ended)="onAudioEnded()"
    class="audio-element"
  ></audio>
</div>
